# Config files
babel.config.cjs
webpack.config.cjs
jest.config.cjs
tsconfig.json
jsdoc.json
.editorconfig

# Source and Tests
src/
__test__/

# Git specific
.git/
.gitignore
.gitattributes

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.idea/
*.sublime-project
*.sublime-workspace

# Build cache/logs/dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Other dev files
.nvmrc
docs/
.github/
index.js # Exclude top-level JS if TS source is the main entry now 